header{
  width: 100%;
  height: 50px;
  background-color: rgb(197, 186, 186);
  text-align: center;

  h3{
    padding-top: 15px;
  }

  #right{
    float: right;
    margin-top: -20px;
    margin-right: 5px;
  }
}